@model IEnumerable<StudentApp.Models.Student>

@{
    ViewData["Title"] = "List of Students";
}

<h2 class="text-info pt-5">View all Student</h2>

<p>
    <a asp-action="Create" class="btn btn-info float-end text-white">Add New Student</a>
    <a asp-action="Create" class="btn btn-success float-end text-white mx-4">Upload CSV</a>
</p>
<table class="table table-striped py-4">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StudentAge)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StudentAddress)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StudentPhone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StudentEmail)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() > 0)
        {
        @foreach (var item in Model)
        {
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentAge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning text-white">Edit</a> 
                    </td> 
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary text-white">Details</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white">Delete</a>
                    </td>
                </tr>           
        }
    }
    else
    {      
        <tr class="text-center">
             <td colspan="6" class="text-center">NO RECORD FOUND</td>
        </tr>       
    }
     </tbody>       
</table>
